@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
.section{
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    min-width: 100%;
    height: 100%;
    gap: 1.5rem;
    color: rgb(255,255,255);
   display: grid;
   place-content:center center;
}
.h3{
    color: rgb(255,255,255);
    letter-spacing: .2rem;
    font-size: 1.9rem;
    font-weight: 300;
    font-family: 'Barlow Condensed', sans-serif; 
   word-spacing: .5rem;
   justify-self: left;
   align-self: start;



}
.img{
    animation: fade-in ease-in 0.5s  0s 1 normal forwards;
}
.h3>span{
 
        
        color:hsl(220, 7%, 32%);
    
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10rem;
    /* margin-top: 2rem; */
}
.container>img{
    justify-self: center;
    align-self:flex-start;
    width: 430px;
}
.ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
    height: 30px;
   
}

.li{
    font-family: 'Barlow Condensed', sans-serif; 
    font-size: 1.2rem;
    color: rgb(208,214,249);
    letter-spacing: .3rem;
    cursor: pointer;
}
.ul>li:hover{
    border-bottom: .1rem solid rgb(255,255,255);
    color: rgb(255,255,255);
}
.ul:hover :not(:hover){
    border-style: none;
}
.liIsClicked{
    font-family: 'Barlow Condensed', sans-serif; 
    font-size: 1.2rem;
    color: rgb(208,214,249);
    letter-spacing: .3rem;
    cursor: pointer;
    border-bottom: .1rem solid rgb(255,255,255);
    color: rgb(255,255,255); 
}
.h1{
    font-size: 6rem;
    letter-spacing: 1.3rem;
    font-family: 'Bellefair', serif;
    /* line-height: .1rem; */
 margin: 1rem 0;
 animation: fade-in ease-in 0.5s  0s 1 normal forwards;
}
.p{
    color: rgb(208,214,249);
    font-family:  'Barlow Condensed', sans-serif; 
    font-size: 1.2rem;
    line-height: 2rem;
    animation: fade-in ease-in 0.5s  0s 1 normal forwards;
}
.hr{
    animation: fade-in ease-in 0.5s  0s 1 normal forwards;
    border:0.5px solid rgb(183, 188, 215);
    margin: 1.5rem 0;
}
.specContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: fade-in ease-in 0.5s  0s 1 normal forwards;
}
.specContainer>h5>span{
    display: block;
    margin-bottom: 1rem;
    font-weight: 200;
    font-family: 'Barlow Condensed', sans-serif; 
    color: rgb(208,214,249);
    letter-spacing: .1rem;
    font-size: .8rem;
}
.specContainer>h5{
    font-size: 1.8rem;
    margin: 1rem 0;
    font-weight: 400;
    font-family: 'Bellefair', serif;
}
.article{
    width: 500px;
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
    
}
@media (max-width:970px) {
    .section{
        background-image: url('../assets/destination/background-destination-tablet.jpg');
        min-width: 100%;
        height: inherit;
        padding-top: 25%;
        gap: 4rem;
    }
    .container{
        grid-template-columns: auto;
        gap: 4rem;
    }
.ul{
justify-content: center;
}

.h1,.p,.specContainer>h5{
    text-align: center;
}

}



@media (max-width:630px) {
    .section{
        background-image: url('../assets/destination/background-destination-mobile.jpg');
    }
    .img{
      width: 100px;
    }
    .h3{
    justify-self: center;
    font-size: 1.5rem;
    }
}