@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
.section{
    background-image: url('../assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size:cover;
    position: absolute;

    width: 100%;
    min-height: 100%;
    display: grid;
   place-items: center center;
    grid-template-columns:repeat(2,1fr);
   

}
.article{
    font-size: 1rem;
    width: 450px;
    height: 382px;
    justify-self: center;
   
    text-align: left;
    word-break: keep-all;
    text-align: center;
}
/* .article >p{
    margin-top: 2rem;
    margin-bottom: 0;
}
*/

.article>h5{
    font-size: 1.2rem;
    margin-bottom: 7rem;
    font-family: 'Barlow Condensed', sans-serif;  
    font-weight: 300;

} 
   .article >p{ 
    font-family: 'Barlow Condensed', sans-serif;  
    font-size: 1.2rem;
   }

.article>h1{
    font-family: 'Bellefair', serif;
    font-size: 6.5rem;
    letter-spacing: .8rem;
    margin: 7rem 0 ;
}
.btn{
    display: grid;
   justify-content: center;
   align-content: center;
    border-radius: 50%;
    width: 340px;
    height: 340px;
    border: none;
    background-color: transparent;
    margin-bottom: 4rem;
}
.btn >div{
    display: inherit;
    place-content: center;
    letter-spacing: .5rem;
    font-size: 2.5em;
       font-family: 'Barlow Condensed', sans-serif ;
    background-color: rgb(225,225,225);
    border-radius: 50%;
    width: 274px;
    height: 274px;
    
   }
.btn:hover{
   background-color: rgb(255 255 255 / 0.1);
  backdrop-filter:  blur(2px); 
}

@media (max-width:970px) {
    .section{
        grid-template-columns: auto;
        gap: 0;
        background-image: url('../assets/home/background-home-tablet.jpg');
        background-size: cover;
        width: 100%;
        padding-top: 25%;
        min-height:100%;
      
    }
    .article{
        margin-bottom: 0;
    }
    .btn{
        /* width: 300px; */
        /* height: 300px; */
        margin: 0;
    }
    
}
@media (max-width:630px) {
    .section{
        background-image: url('../assets/home/background-home-mobile.jpg');
        background-size: cover;
        padding-top: 30%;
    
    }
    .article{
       width: 400px;
       /* margin-left: 2rem; */
    }
    .article>h5{
        font-size: 1rem;
        /* letter-spacing: .5rem; */
    }
    .article>h1{
        font-size: 6rem;
        letter-spacing: 0;
    }
    .article>p{
        font-size: .8rem;
       word-wrap: normal;
        /* padding-right:4rem ; */
        /* line-height: 2rem; */
        padding: 0;

    }
    /* */
    /* .article */
    
}
@media (max-width:420px) {
    .section{
        overflow-y: hidden;
    }
    .article{
        width: 300px;
        
    }
    .article>h1{
        font-size: 5rem;
    }
    .article>h5{
font-size: .6rem;
letter-spacing: 0;

    }
    .article>p{
        font-size: .8rem;
        line-height: 1.2rem;
    }
    .btn{
        width: 300px;
        height: 300px;
    }
    .btn>div{
        width: 200px;
        height: 200px;
        font-size: 1rem;
    } 
    
}
