.section{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-image: url('../assets/technology/background-technology-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: end;
    align-content: center;
}
.div{
    display: grid;
    grid-template-areas: 'heading heading'
                         'article image'    
    ;
  gap: 2rem;

   width: 90vw;

}


.article{
    grid-area: article;
display: grid;
grid-template-areas:'buttons container'
/* 'buttons name'
'buttons description' */
;
gap: 1rem;
align-self: center;

}
.container{
    grid-area: container;
    justify-self: center;
    animation: fade-in ease-in 0.5s  0s 1 normal forwards;
}
.img{
    grid-area: image;
    justify-self: end;
    height: 600px;
    width: 500px;
    animation: fade-in ease-in 0.5s  0s 1 normal forwards;

}
.h1{
    grid-area: name;
    font-family: 'Bellefair';
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 8rem;
  
}
.h5{
    font-family: 'Barlow Condensed', sans-serif; 
    color: rgb(208, 214, 249);
    /* opacity: 0.9; */
    mix-blend-mode: normal;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 4rem;
    grid-area: role;
  
}
.p{
    font-family: 'Barlow Condensed', sans-serif; 
    color: rgb(208, 214, 249);  
    font-size: 1.5rem;
    line-height: 2rem;
    word-break: keep-all;
    grid-area: description;
    height: auto;
    width: 600px;
   
    /* opacity: 0.9; */
}

.h3{
    color: rgb(255,255,255);
    letter-spacing: .2rem;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'Barlow Condensed', sans-serif; 
    word-spacing: .5rem;
    grid-area: heading;
}
.h3>span{
    
    
    color:hsl(220, 7%, 32%);
    
}
.btnContainer{
    display: flex;
    flex-flow: column;
    width: auto;
    gap: 3rem;
    grid-area: buttons;
    grid-row-end: 2;
}
.btnContainer>button{
    border-radius: 50%;
  
    
    width: 80px;
    height:80px;
    
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Barlow Condensed', sans-serif; 
}
.clicked{
    border-style: none;
    color: black;
    background-color: #FFFFFF;
}

.unclicked{
    background-color: transparent;
    color:  rgba(255,255,255,0.8);
    border: .1rem solid rgba(255,255,255,0.3);
}

.btnContainer>button:hover{
    border-color:rgb(255,255,255) ;
    /* color:  rgb(255,255,255); */
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
    
}

@media (max-width:970px) {
    .section{
       
        background-image: url('../assets/technology/background-technology-tablet.jpg');
       

    }
    .div{
       width: 100vw;
        grid-template-areas: 'heading'
        'image' 
        'article'   
;

    }
    .img{
        width: inherit;
        height: auto;
        justify-self:center;
    }
    .article{
        text-align: center;
        grid-template-areas:'buttons'
                            'container';
                            gap: 1.5rem;
    }
    .btnContainer{
        flex-flow: row;
        justify-self: center;
    }
    .container{
        padding-bottom: 6rem;
    }
    .h3{
        margin-left: 3rem;
    }
    .div{
        margin-top: 25%;
    }
    

}

@media (max-width:630px) {
    .section{
       
        background-image: url('../assets/technology/background-technology-mobile.jpg');
        
       
    }
    .article{
        gap: 1rem;
    }
  .p{
    width: auto;
    font-size: 1rem;
    padding: 0 .5rem;
  }
  .h3{
    margin: 0;
    justify-self: center;
    font-size:1.9rem ;
  }
  .btnContainer{
    gap:2rem ;
  }
  .btnContainer>button{
        
    width: 60px;
    height:60px;
  }
  .h1{
    font-size: 3rem;
  }
  .div{
    gap: 4rem;
  }
    
}